# Data Analytics Iris Research
***

## Imports
***

In [38]:
#Data frames import
import pandas as pd
import seaborn as sns
import numpy as np

## Data Import
***

In [39]:
# Define column names for the dataset
column_names = ['Sepal length(cm)', 'Sepal width(cm)', 'Petal length(cm)', 'Petal width(cm)', 'Class plants']

In [40]:
# Load the dataset specifying no headers in the file itself
data_path = 'data\iris.data'  # Path to the file
iris_df = pd.read_csv(data_path, header=None, names=column_names)

## Inspect Data
***

In [41]:
# Show data
iris_df

,Sepal length(cm),Sepal width(cm),Petal length(cm),Petal width(cm),Class plants
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [42]:
iris_df.iloc[1]

Sepal length(cm)            4.9
Sepal width(cm)             3.0
Petal length(cm)            1.4
Petal width(cm)             0.2
Class plants        Iris-setosa
Name: 1, dtype: object

In [43]:
# Show info Datafraim
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sepal length(cm)  150 non-null    float64
 1   Sepal width(cm)   150 non-null    float64
 2   Petal length(cm)  150 non-null    float64
 3   Petal width(cm)   150 non-null    float64
 4   Class plants      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [44]:
#Count a number of each Iris plant
iris_df['Class plants'].value_counts()

Class plants
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [45]:
#Describe the data set
iris_df.describe()

       Sepal length(cm)  Sepal width(cm)  Petal length(cm)  Petal width(cm)
count        150.000000       150.000000        150.000000       150.000000
mean           5.843333         3.054000          3.758667         1.198667
std            0.828066         0.433594          1.764420         0.763161
min            4.300000         2.000000          1.000000         0.100000
25%            5.100000         2.800000          1.600000         0.300000
50%            5.800000         3.000000          4.350000         1.300000
75%            6.400000         3.300000          5.100000         1.800000
max            7.900000         4.400000          6.900000         2.500000

In [46]:
# All data inspection head
iris_df.head()

,Sepal length(cm),Sepal width(cm),Petal length(cm),Petal width(cm),Class plants
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

# Data modeling
***

In [47]:
# Print Species unique value
iris_df['Class plants'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [48]:
# Species object modify to category
iris_df['Class plants'] = iris_df['Class plants'].astype('category')

## Missing data
---

In [49]:
# Check for any missing values in the DataFrame
missing_data = iris_df.isnull().sum()
print("Missing values in each column:\n", missing_data)

Missing values in each column:
 Sepal length(cm)    0
Sepal width(cm)     0
Petal length(cm)    0
Petal width(cm)     0
Class plants        0
dtype: int64

# Plot Section